#root {
  font-family: 'Press Start 2P', monospace;


  /* --main-light: #f6e652;
  --main-dark: #c5ac10;
  --second-dark: #524141;

  --main-light: #a87651;
  --main-dark: #56372f;
  --second-dark: #2b303c; */

  --background-color: #b6d9dc;
  --main-dark: #416a83;
  --main-light: #5294ac;
  --second-dark: #314152;

  background-color: var(--background-color);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;

}