.moodTrackerWrapper {
    max-width: 34rem;
    background-color: var(--main-light);
    border-radius: .4rem;
    border: 4px solid white;
    gap: 2rem;
    outline: 3px solid grey;
    padding: .6rem;
    margin: auto;
}

.moodSectionList {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;


}



.moodButton {
    background-color: darkcyan;
    border: 4px solid white;
}

.moodButton:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.redact {
    margin: 1rem 0;
}

.undoButton {
    background-color: rgb(215, 42, 42);
}

.moodHistory {
    margin: 1rem;
    min-height: 6rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: .6rem;
}

.topMood {
    margin: 1rem;
    border: 1px solid white;
    border-radius: .6rem;
}