.homePage {
    margin: auto;
    max-width: 40rem;
    border: 3px solid black;
    padding: 2rem;
    border-radius: .6rem;
    background-color: var(--main-light);
}

.homePageAnchor {
    all: unset;
    color: rebeccapurple;
    cursor: pointer;
}

.homePageAnchor:hover {
    color: yellowgreen;
}