.search_bar {
    background-color: var(--main-light);
    border-radius: .4rem;
    border: 4px solid white;
    gap: 2rem;
    outline: 3px solid grey;
    padding: .6rem;
    display: block;
    margin: auto;

}

/*  TO ADD CONTAINER QUERIES!!! FOR SMALLER DISPLAYS  */

.search_bar input {
    width: 90%;
    min-width: 6.25rem;
    max-width: 18.75rem;

}


.search_btn {
    width: 1.375rem;
    height: 1.375rem;
    left: -1.8125rem;
    top: .25rem;
    position: relative;
    border: none;
    background: none;
    padding: 0;
}

.search_btn:hover,
.filtered_list {
    cursor: pointer;
}

.filtered_list {
    max-height: 12.5rem;
    overflow-y: auto;
}