.searchBar {
    max-width: 30rem;
    background-color: var(--main-light);
    border-radius: .4rem;
    border: 4px solid white;
    outline: 3px solid grey;
    padding: .6rem;
    display: block;
    margin: auto;

}


.searchBar input {
    position: relative;
    width: 80%;
    max-width: 20rem;
}


.searchBtn {
    width: 1.375rem;
    height: 1.375rem;
    left: -1.8125rem;
    top: .25rem;
    position: relative;
    border: none;
    background: none;
    padding: 0;
}

.searchBtn:hover,
.filteredList {
    cursor: pointer;
}

.filteredList {
    max-height: 12.5rem;
    overflow-y: auto;
}