.search_bar {
    background-color: var(--main-light);
    border-radius: .4rem;
    border: 4px solid white;
    gap: 2rem;
    outline: 3px solid grey;
    padding: .6rem;
    display: block;
    margin: auto;
}

.search_bar input {
    width: 90%;
    min-width: 100px;
    max-width: 300px;
}


.search_btn {
    width: 22px;
    height: 22px;
    left: -29px;
    top: 4px;
    position: relative;
    border: none;
    background: none;
    padding: 0;
}

.search_btn:hover,
.filtered_list {
    cursor: pointer;
}

.filtered_list {
    max-height: 200px;
    overflow-y: auto;
}