/*  

--gold-light: #f6e652;
  --gold-light-dark: #f6bd20;
  --gold-dark: #9c5200;
  --dark-brown: #60443e; */



*>li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}



ul {
    padding: .6rem;
}


.pokemon_card {
    background-color: var(--main-light);
    border-radius: 1.4rem;
    border: 4px solid var(--second-dark);
    color: var(--second-dark);
    display: flex;
    display: flex;
    justify-content: center;
    max-width: 22rem;
    min-height: 32rem;
    margin: 2rem auto;
    position: relative;
}


.image_border {
    border: 5px solid var(--second-dark);
    border-radius: 0.8rem;
    margin: auto;
    background-color: var(--main-dark);
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.pokemon_card__header {
    padding: .6rem;
}

.pokemon_card_img {
    max-width: 200px;
    justify-content: center;
    margin: auto;
}

.pokemon_card__types {
    color: var(--second-dark);
    display: flex;
    justify-content: end;
    gap: 1rem;
}

/* Back of the card */


.pokemon_card__img {
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1) opacity(20%);

}

.pokemon_card__text {
    position: absolute;
    align-self: center;

}

/* <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div> */