*>li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}



ul {
    padding: .6rem;
}


.pokemonCard {
    background-color: var(--main-light);
    border-radius: 1.4rem;
    border: 4px solid var(--second-dark);
    color: var(--second-dark);
    display: flex;
    display: flex;
    justify-content: center;
    max-width: 22rem;
    min-height: 32rem;
    margin: 2rem auto;
    position: relative;
}


.imageBorder {
    border: 5px solid var(--second-dark);
    border-radius: 0.8rem;
    margin: auto;
    background-color: var(--main-dark);
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}

.pokemonCardHeader {
    padding: .6rem;
}

.pokemonCardImg {
    max-width: 200px;
    justify-content: center;
    margin: auto;
}

.pokemonCardTypes {
    color: var(--second-dark);
    display: flex;
    justify-content: end;
    gap: 1rem;
}

/* Back of the card */


.pokemonCardBack {
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1) opacity(20%);

}

.pokemonCardText {
    position: absolute;
    align-self: center;

}

/* <div>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a>is licensed by CC BY 4.0</div> */